* {
    box-sizing: "border-box";
    margin: 0;
    border: 0;
    padding: 0
}

ul {
    list-style-type: "";
}

a, li {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
}

span {
    font-weight: bold;
}
